* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.principal {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
}

.botoes {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity linear 0.3s;
}

button:hover {
    opacity: 0.6;
}

#pedra {background-color: #a200ff;}
#papel {background-color: #9ee01a;}
#tesoura {background-color: #7dbeed;}

.pontuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin: 30px 0;
}

p {
    font-weight: bold;
}